name: Build and release library to PyPi

on:
  workflow_call:
    inputs:
      library_path:
        required: true
        type: string
      ref_name:
        required: true
        type: string

permissions:
  contents: write
  pull-requests: write
  packages: read
  issues: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Setup Git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run unit tests
        run: |
          python -m pytest -s -vv

      - name: Build binary
        env:
          LIBRARY_PATH: ${{ inputs.library_path }}
          REF_NAME: ${{ inputs.ref_name }}
        run: |
          echo "__version__ = \"${REF_NAME}\"" > ${LIBRARY_PATH}/version.py
          python -m build

      - name: Publish
        run: |
          python -m twine upload --username "__token__" --password ${{ secrets.PYPI_TOKEN }} --skip-existing --verbose dist/*
